labels:
  app: Catalogue
  project: Robot-Shop
  technology: NodeJs
  environment: default 

deployment:
  name: catalogue

  replicas: 1

  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1

  pod:
    nodeSelector:
      project: Robot-Shop

    containers:  
    - name: catalogue

      image: ${IMAGE}  # <-- placeholder

      imagePullPolicy: Always

      ports:
      - containerPort: 8226

      resources:
        requests:
          cpu: "50m"
          memory: "128Mi"

        limits:
          cpu: "200m"
          memory: "512Mi"

      env:
      - name: USER_SERVER_PORT 
        value: "8226"

      - name: MONGO_HOST  
        value: mongo-service-headless.mongo-database.svc.cluster.local

      readinessProbe:
        httpGet:
          path: /health
          port: 8226
        initialDelaySeconds: 5
        periodSeconds: 10
        failureThreshold: 3
        
      livenessProbe:
        httpGet:
          path: /health
          port: 8226
        initialDelaySeconds: 15
        periodSeconds: 20
        failureThreshold: 3


service:
  name: catalogue

  type: ClusterIP

  ports:
  - name: catalogue
    port: 8226
    targetPort: 8226